h1,
h2,
p,
ul,
div,
footer {
    color: rgba(218, 216, 216, 0.925);
}

body {
    background-color: rgb(39, 38, 38);
    text-align: center;
}

img {
    height: auto;
}

li {
    list-style: none;
}

#navbar {
    display: flex;
    justify-content: flex-end;
}

a:hover {
    background-color: rgba(255, 217, 0, 0.637);
}

a {
    color: white;
    text-decoration: none;
}

#namokhi {
    display: flex;
}

.picbox img {
    width: 50%;
    flex: 1;
}

.picbox img:hover {
    flex: 2;
    width: 75%;
}

#outrider {
    display: flex;
}

.picbox2 img {
    width: 24%;
    flex: none;
}

.picbox2 img:hover {
    flex: none;
    width: 32%;
}